.banner {
    margin-top: 0px;
    padding-bottom: 20px;
    width: 100%;
    display: block;
}

.banner-image {
    background-image: none;
    background-color: gray;
    width: 100%;
    display: block;
    height: 50vh;
}